@charset "UTF-8";

:root {
    --roxo-escuro: #210D26;
    --roxo-claro: #612073;
    --amarelo: #F2BF27;
    --azul-claro: #71CAFE;
    --azul: #3F61EF;
    --azul-escuro: #2738DB;
    --degrade-azul: #342A89;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: var(--amarelo);
    padding: 20px;
}

input {
    display: block;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    width: 65%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #1D0C20;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}

button:hover { 
    cursor: pointer;
}

footer {
    padding: 5px;
    color: #FFFFFF;
}

.container {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.external-box {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--roxo-escuro), var(--roxo-claro));
}

.descrition {
    color: #FFFFFF;
    padding: 15px;
}

.internal-box {
    border-radius: 10px;
    width: 95%;
    margin: auto;
    background-image: linear-gradient(to bottom, var(--roxo-claro), var(--roxo-escuro));
}

.alinhar {
    display: flex;
   justify-content: center;
}

.votar {
    background-image: linear-gradient(to bottom, var(--azul), var(--azul-claro));
    margin: auto ;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 10px;
    border-color: #2738DB;
}

@media (max-width: 700px) {
    .container {
        width: 80vw;
        margin: auto;
    }

    .alinhar {
        display: block;
        justify-content: center;
        padding: 20px;
    }

    .votar {
        width: 50vw;
        margin: auto;

        margin-top: 20px;
    }

    .internal-box {
        margin-bottom: 20px;
    }
}


