@charset "UTF-8";

:root {
    --roxo-escuro: #210D26;
    --roxo-claro: #612073;
    --amarelo: #F2BF27;
    --azul-claro: #71CAFE;
    --azul: #3F61EF;
    --azul-escuro: #2738DB;
    --degrade-azul: #342A89;
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 70vw;
    margin: auto;
}

.external-box {
    background-image: linear-gradient(to bottom, var(--roxo-escuro), var(--roxo-claro));
}

.internal-box {
    background-image: linear-gradient(to bottom, var(--roxo-claro), var(--roxo-escuro));
}
